body {
  font-family: Arial;
  background-color: #fff8f0;
  margin: 0;
  padding: 0;
}

/* TITLE */
.title {
  text-align: center;
  color: #ff6b6b;
  margin: 30px 0;
}

/* CONTAINER */
.container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  width: 100%;
}

/* CARD */
.card {
  display: flex;
  background: white;
  border-radius: 15px;

  width: 90%;
  max-width: 1200px;
  height: 500px;

  box-shadow: 0 6px 20px rgba(0,0,0,0.15);
  overflow: hidden;

  transition: 0.3s;

  /* مهم جداً عشان الزر يثبت داخل الكارت */
  position: relative;
}

/* hover */
.card:hover {
  transform: scale(1.02);
}

/* IMAGE */
.card img {
  width: 35%;
  height: 100%;
  object-fit: cover;
}

/* CONTENT */
.content {
  padding: 20px;
  flex: 1;
}

.content h2 {
  margin-bottom: 10px;
  color: #333;
  font-size: 20px;
}

.content ul {
  margin: 0;
  padding-left: 20px;
  line-height: 1.6;
}

/* ===================== */
/* ADD BUTTON */
/* ===================== */
.add-btn {
    position: absolute;
    bottom: 15px;
    right: 15px;

    background-color: #ff5722;
    color: white;

    border: none;
    width: 100px;
    height: 42px;

    border-radius: 10px;
    cursor: pointer;

    font-size: 14px;
    font-weight: bold;

    transition: 0.3s;
}

/* hover effect */
.add-btn:hover {
    background-color: #ff3b3b;
    transform: scale(1.05);
}