* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

.navbar {
  background: #464040;
  color: white;
}

/* TOP */
.nav-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.search {
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  width: 40%;
}

.fav {
  cursor: pointer;
}

/* BOTTOM NAV */
.nav-bottom {
  display: flex;
  justify-content: center;   /* كل الكلام في النص */
  align-items: center;
  list-style: none;
  gap: 18px;
  padding: 10px 20px;
  position: relative;
}

/* LINKS */
.nav-bottom li {
  color: white;
  cursor: pointer;
}

/* DROPDOWN */
.dropdown {
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  min-width: 180px;
  z-index: 1000;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu li {
  list-style: none;
}

.dropdown-menu li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: black;
}

.dropdown-menu li a:hover {
  background: #eee;
}

/* ⭐ SUBMIT BUTTON (FIXED RIGHT) */
.submit-btn {
  position: absolute;
  right: 20px;
}

.submit-btn a {
  background-color: #534a4a;
  color: white;
  padding: 8px 15px;
  border-radius: 5px;
  font-weight: bold;
  text-decoration: none;
}

.submit-btn a:hover {
  background-color: #1c1b1b;
}