* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

.navbar {
  background: #464040;
  color: white;
}

/* TOP */
.nav-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.search {
  padding: 20px 30px;
  border: none;
  border-radius: 5px;
}

.fav {
  cursor: pointer;
}

/* BOTTOM */
.nav-bottom {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 18px;
  padding: 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  min-width: 180px;
  z-index: 1000;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu li {
  list-style: none;
}

.dropdown-menu li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: black;
}

.dropdown-menu li a:hover {
  background: #eee;
}