<nav class="navbar">

  <!-- TOP -->
  <div class="nav-top">
    <div class="logo">🍳 CookHub</div>
    <input class="search" type="text" placeholder="Search..." />
    <div class="fav">❤️ Favorite</div>
  </div>

  <!-- BOTTOM NAV LINKS -->
  <ul class="nav-bottom">

    <!-- HOME -->
    <li>
      <a href="/index.html">Home</a>
    </li>

    <li class="dropdown">
      Dinners
      <ul class="dropdown-menu">
        <li><a href="#">Quick Dinner</a></li>
        <li><a href="#">Healthy Dinner</a></li>
        <li><a href="#">Family Dinner</a></li>
      </ul>
    </li>

    <li class="dropdown">
      Meals
      <ul class="dropdown-menu">
        <li><a href="#">Breakfast</a></li>
        <li><a href="#">Lunch</a></li>
        <li><a href="#">Snack</a></li>
      </ul>
    </li>

    <li class="dropdown">
      Ingredients
      <ul class="dropdown-menu">
        <li><a href="/ingredients_page/chicken.html">Chicken</a></li>
        <li><a href="/ingredients_page/beef.html">Beef</a></li>
        <li><a href="/ingredients_page/fish.html">Fish</a></li>
        <li><a href="/ingredients_page/vegetables.html">Vegetables</a></li>
        <li><a href="/ingredients_page/karp.html">Karp</a></li>
        <li><a href="/ingredients_page/desert.html">Dessert</a></li>
      </ul>
    </li>

    <li>
      <a href="/Nutrition/nutrition.html">Health info</a>
    </li>

    <li class="dropdown">
      Cuisines
      <ul class="dropdown-menu">
        <li><a href="#">Italian</a></li>
        <li><a href="#">Indian</a></li>
        <li><a href="#">Egyptian</a></li>
      </ul>
    </li>

    <li class="dropdown">
      Kitchen Tips
      <ul class="dropdown-menu">
        <li><a href="#">Cooking Tips</a></li>
        <li><a href="#">Storage Tips</a></li>
        <li><a href="#">Knife Skills</a></li>
      </ul>
    </li>

    <li class="dropdown">
      Diets Plans
      <ul class="dropdown-menu">
        <li><a href="/Diet_plans/Compare.html">Compare Dishes</a></li>
        <li><a href="#">Trends</a></li>
        <li><a href="#">Updates</a></li>
      </ul>
    </li>

    <li>
      <a href="/BLOG/BLOG.html">Blogs</a>
    </li>

    <li class="dropdown">
      Video
      <ul class="dropdown-menu">
        <li><a href="/video/vidio.html">Cooking Videos</a></li>
        <li><a href="#">Live Shows</a></li>
        <li><a href="#">Shorts</a></li>
      </ul>
    </li>

    <li class="dropdown">
      About Us
      <ul class="dropdown-menu">
        <li><a href="#">Who We Are</a></li>
        <li><a href="#">Team</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </li>

    <li class="dropdown">
      GET THE MAGAZINE
      <ul class="dropdown-menu">
        <li><a href="#">Latest Issue</a></li>
        <li><a href="#">Subscribe</a></li>
        <li><a href="#">Gift</a></li>
      </ul>
    </li>

    <li class="submit-btn">
      <a href="/Submit_Recipe/Submit.html">Submit Your Recipe</a>
    </li>

  </ul>

</nav>
